body{
    margin: 0;
    padding: 0;
    background-color: hsl(47, 44%, 92%);
    font-family: Lato, sans-serif;
}

li {
    display: inline;
  }

h1{
    font-size: 1.75rem;
    text-align: center;
}

h2{
    font-size: 1.5rem;
}

.header{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-family: Lemon, cursive;
    height: 8vh;
}

#hamburger{
    display: none;
}


nav {
    display: flex;
    background-color: #E7E0C9;
}

.navitems{
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 1.25rem;
    color: #6F6F6F;
    padding: 0;
    
}

.navbutton{
    color: #6F6F6F;
    font-style: normal;
}

.navbutton:hover {
    color: black;
    font-style: bold;
}

.pictext{
    position: relative;
}

.overlay{
    position: absolute;
    width: 100%;
    color: white;
    font-size: 2.5rem;
    text-align: center;
    padding: 0;
    margin: 0;
    top: 125px;
}

.image{
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    height: 45vh;

}

#grid{
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 8vh 35vh 8vh 85vh 8vh 35vh;
    text-align: center;
}

#box1{
    grid-column: 1 / 3;
    grid-row: 1;

}

#box2{
    grid-column: 1;
    grid-row: 2;
}

#box3{
    grid-column: 2;
    grid-row: 2;
}

#box4{
    grid-column: 1 / 3;
    grid-row: 3;
}

#box5{
    grid-column: 1;
    grid-row: 4;
}

#box6{
    grid-column: 2;
    grid-row: 4;
}

#box7{
    grid-column: 1 / 3;
    grid-row: 5;
}

#box8{
    grid-column: 1;
    grid-row: 6;
}

#box8{
    grid-column: 2;
    grid-row: 6;
}

.desc{
    color: #6F6F6F;
    padding: 0% 20%;
}

footer{
    display: flex;
    justify-content: center;
    width:100%;
    background-color: #E7E0C9;
    text-align: center;
}

.foottext{
    color: #6F6F6F;
}

.foottext:hover{
    color: black;
}

@media (max-width: 600px) {

    h1{
        font-size: 1.5rem;
    }

    .overlay{
        top: 70px;
    }

    #grid{
        display: block;
    }
}